@import url(jquery.mmenu.all.css);
@import url(jquery.bxslider.css);
/*
font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kfeature-product-div,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0; font:inherit; font-size:100%; outline:0; vertical-align:baseline; margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block; *zoom:1;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:none;}
a {background:transparent; color:#000; outline:none; text-decoration:none; vertical-align:baseline; margin:0; padding:0;}
a:hover { text-decoration:none;}

abbr[title],dfn[title] {border-bottom:1px dotted; cursor:help;}
input,select {vertical-align:middle; border:none; outline:none; border-radius:0;}
input:focus{border:none; outline:none; -webkit-appearance:none;}
select::-ms-expand {display: none;}
select:focus{border:none; outline:none;  -webkit-appearance:none;}
textarea{border:none; outline:none;  -webkit-appearance:none;}
html {-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance:button; -webkit-border-radius: 0; cursor:pointer;}
button[disabled],input[disabled] {cursor:default;font-family: 'Open Sans', sans-serif;}
input[type="checkbox"],input[type="radio"] {box-sizing:border-box; padding:0;}
input[type="search"] {-moz-box-sizing:content-box; -webkit-appearance:textfield; -webkit-box-sizing:content-box; box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
input::-moz-focus-inner {border:0;padding:0;}
input[type="text"], input[type="name"], input[type="email"], input[type="date"], input[type="tel"]{ outline:none; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -webkit-appearance: none; font-weight:400; border:none;box-shadow:none;}
input[type="text"]:focus, input[type="name"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="tel"]:focus{ outline:none;border:none;}
textarea {overflow:auto;vertical-align:top; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -webkit-appearance: none; font-weight:400; border:none; font-family: 'Open Sans', sans-serif;}
textarea:focus{ outline:none;}

h1,h2,h3,h4,h5,h6 {font-weight:400;}
img {max-width: 100%;height: auto;width: auto\9; /* ie8 */border:none;  }
*{ margin:0px; padding:0px;}
nav ul {list-style:none;}
ul{ list-style:none;}
strong{ font-weight:700;}
.nopad{ padding-bottom:0px !important;}     
em{ font-style:italic;}
div{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
body{font-size:15px;  font-weight:400; margin:0px; padding:0px; text-align:center; -webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0px; -moz-osx-font-smoothing: grayscale;
-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;line-height:1;}

#wrapper{ width:100%; float:left; background:#fff; }
#menu .mm-menu{display:none;}
#menu .mm-menu.mm-opened{display:block !important;}
.mm-listview > li > a,
 .mm-listview > li > span{font-family: 'Open Sans', sans-serif;font-weight:400; color: #000;}
.mobile-nav{display:none;}
.mobile-nav .mm-panels{background-color:#fff !important;}
.mobile-nav .mm-navbar .mm-title { padding-left:0px; padding-right: 20px;}
.slider .bx-wrapper .bx-pager.bx-default-pager a { background-color: rgba(0,0,0,0.4) !important; border-radius: 7px !important;border: 2px solid #fff !important;}
.slider .bx-wrapper .bx-pager.bx-default-pager a:hover, .slider .bx-wrapper .bx-pager.bx-default-pager a.active {
 background: #bd9b04 none repeat scroll 0 0 !important;}
.tab-call{display:none;}
.mobile-call{display:none;}
.container{width:1400px; margin:0px auto;}
header{float:left;width:100%;min-height: 180px;}
header.sticky{position: fixed;width: 100%;z-index:9999;top:0;margin:0;-webkit-animation: fadeInDown 1s both;animation: fadeInDown 1s both;background-color:#fff;box-shadow:0 0 3px rgba(0,0,0,0.6);min-height:80px;}
@-webkit-keyframes fadeInDown {
0% {
opacity:0;
-webkit-transform:translateY(-20px);
transform:translateY(-20px);
}
100% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0);
}
}
@keyframes fadeInDown {
0% {
opacity:0;
-webkit-transform:translateY(-20px);
-ms-transform:translateY(-20px);
transform:translateY(-20px);
}
100% {
opacity:1;
-webkit-transform:translateY(0);
-ms-transform:translateY(0);
transform:translateY(0);
}
}
.top-line{float:left;width:100%;background:#5e5e5e;padding:12px 0 13px;box-sizing:border-box;}
.top-bg { background: rgba(0, 0, 0, 0) url("../images/shipping-icon.png") no-repeat scroll left center;  box-sizing: border-box;color: #ffffff; display: inline;float: none;  padding-left: 40px; text-align: center;font-size:20px;line-height:24px;letter-spacing:0.050em;font-weight:600;text-transform:uppercase;font-family: 'Poppins', sans-serif;}
.top-header{padding:30px 30px 0px;float:left;width:100%;box-sizing:border-box;}
.inner-header { float: left;  width: 100%;position: relative;}
.header-lft { float: left;width: auto;}
.header-rgt { float: right; width: auto;}
.hrgt-top { float: right; width: auto;}
.call-sec { float: left;width: auto;}
.inner-call{  float: left;width: auto;}
.inner-call a{float:left;width:auto;font-family: 'Poppins', sans-serif;font-size:15px;font-weight:500;line-height:30px;color:#4c4c4c;background:url(../images/call-icon.png)no-repeat left center;padding-left:27px;box-sizing:border-box;letter-spacing:0.050em;}
.weeks-sec{float:left;width:auto;font-family: 'Poppins', sans-serif;font-size:13px;font-weight:300;line-height:20px;color:#4c4c4c;padding-left:37px;box-sizing:border-box;clear:both;letter-spacing:0.050em;}
.hsearch-sec{  float: left;width: auto;margin-left:35px;position:relative;}
.hsearch-sec input[type="text"]{width: 182px; position: relative; height:44px; padding:0 45px 0 14px; border:1px solid #ebebeb;font-family: 'Poppins', sans-serif;font-size: 13px; color: #7f7f7f;font-weight:300;line-height:24px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;letter-spacing:0.050em;}
.hsearch-sec input[type="submit"]{position: absolute; top: 1px; right: 1px; height: 42px; width: 44px; background: url(../images/search-icon.png) no-repeat center center; border:0; text-indent: -99999px; cursor: pointer;}
.hsearch-sec input[type="submit"]:hover{ background:#f3725c url(../images/search-icon.png) no-repeat center center;}
.hcart-sec{  float: right;width: auto;margin-left:25px;margin-top:7px;}
.hcart-sec a{  float: left;width: auto;background:url(../images/cart.png) no-repeat center center;padding-left:21px;box-sizing:border-box;width:21px;height:25px;}
.hcart-sec a:hover{  background:url(../images/cart_hover.png) no-repeat center center;}
.hrgt-bottom { clear: both; float: left; width: 100%;margin-top:15px;}
.menu-sec{float:left;width:100%;}
.menu-sec .desktop-sec{float:left;width:auto;}
.menu-sec .desktop-sec ul{float:left;width:100%;}
.menu-sec .desktop-sec ul li{float:left;width:auto;margin:0 17px;padding-bottom:20px;}
.menu-sec .desktop-sec ul li ul{display:none;}
.menu-sec .desktop-sec ul li:hover ul{display:block;}
.menu-sec .desktop-sec ul li ul { float: left; left: 0; position: absolute; top: 100%; width: 100%;z-index:99999}
.menu-sec .desktop-sec ul li ul li{float:left;width:auto;}
.main-menu-div { float: left; width: 100%;background:#fbfbfb;}
.menu-lft .main-sub{float:left;width:33.33%;}
.menu-sec .desktop-sec ul li ul .menu-lft .main-sub h4 a{float:left;width:100%;color:#5e5e5e;text-align:left;font-size:15px;line-height:20px;margin-bottom:20px;font-family: 'Poppins', sans-serif;font-weight:500;}
.menu-sec .desktop-sec ul li ul .menu-lft .main-sub li {margin:0;float:left;width:100%;padding:0;}
.menu-sec .desktop-sec ul li ul .menu-lft .main-sub li a{float:left;width:100%;color:#5e5e5e;text-align:left;font-size:13px;line-height:18px;font-family: 'Poppins', sans-serif;font-weight:400;margin-bottom:10px;}
.menu-sec .desktop-sec ul li ul .menu-lft .main-sub li a:hover,.menu-sec .desktop-sec ul li ul .menu-lft .main-sub h4 a:hover{color:#f3725c}
.menu-sub { float: left; margin-bottom: 30px; width: auto;}
.menu-lft{float:left;width:1016px;background:#fbfbfb;padding: 50px 50px 0px 50px;box-sizing:border-box;}
.menu-rgt{float:right;width:384px;padding: 30px 0 50px;box-sizing:border-box;background:#fff;}
.menu-sec .desktop-sec ul li:last-child{margin-right:0px;}
.menu-sec .desktop-sec ul li a{float:left;width:auto;font-family: 'Poppins', sans-serif;font-size:14px;font-weight:400;line-height:24px;color:#000;text-transform:uppercase;cursor:pointer;letter-spacing:0.050em;}
.menu-sec .desktop-sec ul li a:hover{color:#f3725c;}
.menu-sec .desktop-sec ul li.active a{color:#f3725c;}
.menu-sec .desktop-sec ul li.red-menu a{color:#e70000;}
.slider-sec{float:left;width:100%}
.slider-sec .bx-wrapper .bx-viewport { background: #ffffff none repeat scroll 0 0; border: medium none; left: 0;box-shadow:none; transform: translateZ(0px);}
.adds-sec{float:left;width:100%;margin:55px 0px;}
.inner-adds{float:left;width:100%;}
.inner-adds ul{float:left;width:100%;}
.inner-adds ul li{float:left;margin-right:50px;}
.inner-adds ul li.deals-sec{float:left;width:469px}
.inner-adds ul li.solid-shop-sec{float:left;width:880px}
.inner-adds ul li:last-child{margin-right:0px;}
.feature-sec{float:left;width:100%;margin-bottom:40px;}
.inner-feature{float:left;width:100%;padding:0 50px;box-sizing:border-box;}
.inner-feature ul{float:left;width:100%;}
.inner-feature ul li{float:left;width:225px;border:1px solid transparent;padding:0;background:#fff;}
.inner-feature .feature-div{float:left;width:100%;}
.inner-feature ul li:last-child{margin-right:0px;}
.inner-feature .feature-div h2 a{float:left;width:100%;padding:10px;box-sizing:border-box;font-family: 'Poppins', sans-serif;font-size:14px;font-weight:400;line-height:18px;color:#000;letter-spacing:0.030em}
.inner-feature .feature-div h2 a:hover{color:#f3725c;}
.inner-feature .feature-div .reg-price{float:left;width:100%;box-sizing:border-box;font-family: 'Poppins', sans-serif;font-size:13px;font-weight:400;line-height:18px;color:#4c4c4c;letter-spacing:0.030em}
.inner-feature .feature-div .sale-price{float:left;width:100%;box-sizing:border-box;font-family: 'Poppins', sans-serif;font-size:17px;font-weight:500;line-height:22px;color:#f17657;letter-spacing:0.030em;margin-top:5px;}
.feature-sec .owl-carousel .owl-controls .owl-nav div{position: absolute; top: 50%; height:34px; width: 34px; display: inline-block; text-indent: -999999px; margin-top: -16px; background-repeat: no-repeat; background-position: center center;}

.feature-div figure{display: table;table-layout: fixed;text-align: center;vertical-align: middle;width: 100%;position:relative;border-bottom:1px solid #ebebeb}
.feature-div figure a{display: table-cell;height: 393px;text-align: center;vertical-align: middle;width: 100%;padding:15px;box-sizing:border-box;}
.feature-div figure a img {display: inline-block;max-width: 100%;vertical-align: middle; }
.feature-title{float:left;width:100%;text-align:left;margin:20px 0px 10px;}
.feature-title h1{float:left;width:auto;font-family: 'Poppins', sans-serif;font-size:29px;font-weight:300;line-height:32px;color:#000;letter-spacing:0.030em;text-transform:uppercase;margin-right:30px}
.feature-title span a{float:left;width:auto;font-family: 'Poppins', sans-serif;font-size:14px;font-weight:400;line-height:32px;color:#f17657;letter-spacing:0.030em;text-decoration:underline;text-transform:uppercase}
.feature-title span a:hover{color:#4c4c4c}
.advertisement-sec{float:left;width:100%;margin:40px 0;}
.inner-advertisement{float:left;width:100%;}
.inner-advertisement ul{float:left;width:100%;}
.inner-advertisement ul li{float:left;width:675px;margin-right:50px;}
.inner-advertisement ul li:last-child{margin-right:0px;}
.inner-advertisement .img-div{margin-top:50px;float:left;}
.inner-advertisement .img-div:first-child{margin-top:0px;float:left;}
.welcome-sec{float:left;width:100%;margin-top:20px;}
.inner-welcome{float:left;width:100%;margin-top:20px;}
.inner-welcome h3{float:left;width:100%;text-align:left;font-family: 'Poppins', sans-serif;font-size:29px;font-weight:300;line-height:32px;color:#000;letter-spacing:0.030em;text-transform:uppercase;margin-bottom:30px;}
.inner-welcome p{float:left;width:100%;text-align:left;font-family: 'Poppins', sans-serif;font-size:15px;font-weight:400;line-height:24px;color:#000;margin-bottom:30px;}
.client-sec{float:left;width:100%;border-top:1px solid #d9d9d9;margin-top:20px;padding-top:40px;}
.inner-client{float:left;width:100%;margin:20px 0px 30px;}
.client-sec h5{float:left;width:100%;font-family: 'Poppins', sans-serif;font-size:23px;font-weight:400;line-height:32px;color:#3b3b3b;letter-spacing:0.025em;}
footer{float:left;width:100%;background:#3b3b3b}
.top-footer{float:left;width:100%;margin:50px 0;}
.inner-top-footer{float:left;width:100%}
.inner-top-footer h6{float:left;width:100%;font-family: 'Poppins', sans-serif;font-size:15px;font-weight:600;line-height:20px;color:#fff;letter-spacing:0.025em;text-align:left;margin-bottom:15px;text-transform:uppercase;}
.footer-lft{float:left;width:362px}
.footer-right{float:left;width:362px}
.footer-centre{float:left;width:676px}
.shop-confidence{float:left;margin-bottom:40px;width:100%}
.help-info-sec{float:left;margin-bottom:20px;width:100%}
.inner-top-footer ul li{float:left;width:100%}
.inner-top-footer ul li a{float:left;width:auto;font-family: 'Poppins', sans-serif;font-size:13px;font-weight:400;line-height:26px;color:#c5c5c5;letter-spacing:0.025em;text-align:left;text-transform:uppercase;}
.inner-top-footer ul li a:hover{color:#f17657;}
.help-info-sec ul{float:left;width:50%;}
.social-sec{float:left;width:auto;}
.social-sec ul li{float:left;width:auto;margin-right:20px;cursor: pointer;}
.social-sec ul li.facebook{background:url(../images/facebook.png) no-repeat left center;float:left;width:18px;height:30px;}
.social-sec ul li.twitter{background:url(../images/twitter.png) no-repeat left center;float:left;width:30px;height:30px;}
.social-sec ul li.instagram{background:url(../images/instagram.png) no-repeat left center;float:left;width:30px;height:30px;}
.social-sec ul li.pinterst{background:url(../images/pinterst.png) no-repeat left center;float:left;width:35px;height:33px;}
.social-sec ul li.polywore{background:url(../images/polywore.png) no-repeat left center;float:left;width:34px;height:30px;}
.social-sec ul li.youtube{background:url(../images/youtube.png) no-repeat left center;float:left;width:30px;height:30px;}
.social-sec ul li.bing{background:url(../images/bing.png) no-repeat left center;float:left;width:30px;height:30px;}
.social-sec ul li.facebook:hover{background:url(../images/facebook_hover.png) no-repeat left center;float:left;}
.social-sec ul li.twitter:hover{background:url(../images/twitter_hover.png) no-repeat left center;float:left;}
.social-sec ul li.instagram:hover{background:url(../images/instagram_hover.png) no-repeat left center;float:left;}
.social-sec ul li.pinterst:hover{background:url(../images/pinterst_hover.png) no-repeat left center;float:left;}
.social-sec ul li.polywore:hover{background:url(../images/polywore_hover.png) no-repeat left center;float:left;}
.social-sec ul li.youtube:hover{background:url(../images/youtube_hover.png) no-repeat left center;float:left;}
.social-sec ul li.bing:hover{background:url(../images/bing_hover.png) no-repeat left center;float:left;}
.slider-sec ul li{ background-size:cover;height:40vh;background-repeat:no-repeat;}
.slider-sec ul li a{float:left;width:100%;height:100%;}
.sticky-search{display:none;}
.sticky-cart{display:none;}
header.sticky{border-bottom:2px solid #5e5e5e}
header.sticky .top-line{display:none;}
header.sticky .hrgt-top{display:none;}
header.sticky .sticky-search{display:block;float:left;margin-left:40px;}
header.sticky .sticky-cart{display:block;float:right;margin-left:40px;}
header.sticky .sticky-cart .hcart-sec {  float: right; margin-left: 0; margin-top: -5px; width: auto;}
header.sticky .menu-sec { float: left; width: auto;}
header.sticky .logo img { width: 243px;}
header.sticky .top-header {  padding: 20px 30px 0;}
header.sticky .menu-sec .desktop-sec ul li ul { margin-top: 0px;}
.newsletter-sec > p{float:left;width:100%;text-align:left;font-family: 'Poppins', sans-serif;font-size:15px;font-weight:400;line-height:20px;color:#fff;}
.news-input { float: left;  margin: 20px 0 50px;  width: 100%;position: relative;}
.news-input input[type="text"]{float:left;font-size:15px;color:#7f7f7f;border:none;line-height:normal;font-weight:400;width:100%;vertical-align:middle;padding:0 64px 0 59px;font-family: 'Open Sans', sans-serif;background:#fff url(../images/msg-icon.png) no-repeat 18px 19px;height:53px;font-style:italic}
.news-input input[type="submit"] {background: rgba(0, 0, 0, 0) url("../images/news-icon.png") no-repeat scroll right center; border: medium none; color: #363d40;float: right; font-family: "Open Sans",sans-serif;  font-weight: 600;  height: 54px;  position: absolute;  right: 15px; top: 0;  width: 65px;}
.news-input input[type="submit"]:hover{background: rgba(0, 0, 0, 0) url("../images/news_hover.png") no-repeat scroll right center;}
.inner-footer-call{float:left;width:auto;font-family: 'Poppins', sans-serif;font-size:17px;font-weight:400;line-height:30px;color:#c5c5c5;background:url(../images/footer_call.png)no-repeat left center;padding-left:33px;box-sizing:border-box;letter-spacing:0.050em;}
.footer-weeks-sec{float:left;width:auto;font-family: 'Poppins', sans-serif;font-size:15px;font-weight:400;line-height:20px;color:#c5c5c5;padding-left:33px;box-sizing:border-box;clear:both;letter-spacing:0.050em;}
.footer-email{float:left;width:100%;margin-top:20px;}
.footer-email a{float:left;width:auto;font-family: 'Poppins', sans-serif;font-size:17px;font-weight:500;line-height:30px;color:#c5c5c5;background:url(../images/email_icon.png)no-repeat left center;padding-left:33px;box-sizing:border-box;letter-spacing:0.050em;}
.footer-email a:hover{color:#f17657;}
.bottom-footer {  border-top: 2px solid #4f4f4f;  float: left;  width: 100%;padding:40px 0;}
.inner-bottom-footer{float:left;width:100%;}
.footer-bottom-left{float:left;width:auto;}
.footer-bottom-right{float:right;width:auto;}
.footer-bottom-left li { float: left; margin-right: 10px; width: auto;}
.payment-div{float:right;width:auto}
.copyright{float:right;width:auto;clear:both;}
.copyright p{float:right;width:auto;font-family: 'Poppins', sans-serif;font-size:13px;font-weight:400;line-height:20px;color:#cfcfcf;}
.copyright p a{color:#fff;}
.copyright p a:hover{text-decoration:underline;}
#yahoo-secure{  background:url("../images/yahoo-secure.jpg") no-repeat scroll center center;  bottom: 0px;   display: none;   height: 56px;   position: fixed;  left: 10px;   width: 146px;z-index:99999;}
#return-to-top {   background: #f3725c url("../images/top_aro.png") no-repeat scroll center center; bottom: 40px; display: none; height: 90px; position: fixed; right: 30px; width: 90px;border-radius:50%;box-shadow:0 0 10px rgba(0,0,0,0.24);z-index:99999;}
#return-to-top:hover{background-color:#000;}
header.sticky .sticky-search{display:inline-block;position:relative;}
header.sticky .sticky-search img{cursor:pointer;}
header.sticky .sticky-search .sticky-large-search input[type="text"] { background: #fff none repeat scroll 0 0; border: medium none; color: #7f7f7f; float: left; font-family: 'Poppins', sans-serif;font-size: 13px;font-weight: 400;height: 40px; line-height: 32px; padding: 0 50px 0 15px; vertical-align: middle; width: 100%;letter-spacing:0.050em;transition:all 350ms ease-in-out 0s}
header.sticky .sticky-search .sticky-large-search input[type="submit"] {background: url("../images/search-icon.png") no-repeat scroll center center; border: medium none;float: right; padding: 11px 0; position: absolute ;right: 18px; width: 20px;}
header.sticky .sticky-search .sticky-large-search input[type="submit"]:hover{background-image: url("../images/search-icon.png") ;}
header.sticky .sticky-search .sticky-large-search { background: #ffffff none repeat scroll 0 0; border: 1px solid #ebebeb; display: none;  position: absolute;right: 0;width: 264px;z-index: 999;box-sizing:border-box;}
#popup-sec{   width: 990px;   height: 497px;   background-color: #f8f0ea;   border-top-left-radius: 497px;   border-top-right-radius: 497px;border-bottom: 0;}
.closebtn {color: #eb6e59;  cursor: pointer;  float:left;width:100%;text-align:center;  font-size: 20px;  line-height:38px;  text-decoration:underline;  font-weight:600;letter-spacing:0.030em;font-family: 'Poppins', sans-serif;text-transform:uppercase;}
.popup-logo {  float: left;  margin: 70px 0 10px;  text-align: center;  width: 100%;}
.order-quote {  float: left;  font-size: 28px;  line-height: 38px;  text-align: center;  width: 100%;font-family: 'Poppins', sans-serif;font-weight:500;text-transform:uppercase;margin:25px 0;letter-spacing:0.030em;}
.popup-newsletter {  display: inline-block;  float: none;  width: 306px;}
.popup-newsletter input[type="text"]{float:left;width:100%;background:#fff;font-size:21px;color:#c7c7c7;font-weight:600;font-family: 'Poppins', sans-serif;height:54px;padding:15px;box-sizing:border-box;letter-spacing:0.050em;text-align:center;}
.popup-newsletter input[type="submit"]{float:left;width:100%;background:#eb6e59;color:#fff;margin-top:9px;height:54px;padding:15px;box-sizing:border-box;font-size:23px;font-weight:300;font-family: 'Poppins', sans-serif;letter-spacing:0.190em;text-transform:uppercase;line-height:30px;}
.popup-newsletter input[type="submit"]:hover{background:#000;}
#popup-sec > p {  float: left;  margin-top: 25px;  width: 100%;font-size:16px;  line-height: 38px;  text-align: center;  width: 100%;font-family: 'Poppins', sans-serif;font-weight:500;letter-spacing:0.030em;}
.slider-sec{position:relative}
.mobile-search{display:none;}
.inner-slider-sec{float:left;width:100%;}

/*listing page*/

.breadcrumb-sec{float:left;width:100%;background:#f9f7fc;}
.breadcrumb{width:100%;float:left;padding:18px 0px;text-align:left;}
.breadcrumb ul{width:100%;text-align:left;display:inline;}
.breadcrumb ul li{display:inline;text-align:left; background:url("../images/bread_sep.png") no-repeat left center; padding-left:10px;font-size:12px;text-align:left;line-height:18px;padding-left:10px;font-family: 'Poppins', sans-serif;font-weight:300;box-size:border-box;}
.breadcrumb ul li a{color:#000;text-align:left;display:inline;text-align:left;margin:0px 10px;}
.breadcrumb ul li a:hover{color:#f3725c;} 
.breadcrumb ul li:first-child{background:none;padding-left:0px;}
.breadcrumb ul li:first-child a{margin-left:0;}
.breadcrumb ul li span{color:#898888;margin:0px 10px;}
.listing-page{float:left;width:100%;margin-top:40px;}
.listing-main{float:left;width:100%;}
.listing-left{float:left;width:260px;margin-right:45px;}
.listing-left h2{float:left;width:100%;font-family: 'Poppins', sans-serif;font-weight:500;font-size:17px;line-height:20px;padding:15px 20px;box-sizing:border-box;background:#f9f7fc;text-align:left;text-transform:uppercase;letter-spacing:0.030em}
.listing-right{float:left;width:1095px;}
.listing-right h1{float:left;width:100%;font-family: 'Poppins', sans-serif;font-weight:300;font-size:29px;line-height:30px;text-align:left;text-transform:uppercase;margin-bottom:25px;letter-spacing:0.030em}
.lising-sec{float:left;width:100%}
.lising-sec .inner-feature{padding:0;}
.lising-sec .inner-feature ul li {margin-right:15px;  width: 260px;  min-height:576px;}
.lising-sec .feature-div figure a{padding:0;height:377px}
.lising-sec .inner-feature ul li:nth-child(4n){margin-right:0}
.lising-sec .inner-feature ul li:hover{ background: #fafafa none repeat scroll 0 0;}
.lising-sec  .feature-div figure {  background: #ffffff none repeat scroll 0 0; }
.lising-sec .inner-feature ul li:hover .cart-sec{display:block;}
.lising-sec .feature-div{ width: 100%;padding:20px 20px 0 20px;box-sizing:border-box;}
.lising-sec .cart-sec{float:right;width:40px;background:#f3725c;height:40px;margin-top:17px ;display:none;}
.lising-sec .cart-sec:hover{background:#000;}
.lising-sec .cart-sec .cart-btn{float:none;display:inline-block;width:auto;background:url("../images/cart-btn.png") no-repeat bottom right;width:20px;height:24px;vertical-align:middle;margin-top:7px;}
.product-category{float:left;width:100%;margin-top:20px;}
.product-category ul{float:left;width:100%;padding:0 18px;box-sizing:border-box;}
.product-category ul li{float:left;width:100%;margin-bottom:5px;}
.product-category ul li a{float:left;width:auto;font-family: 'Poppins', sans-serif;font-weight:400;font-size:14px;line-height:24px;text-align:left;color:#000}
.product-category ul li.active a{color:#f3725c}
.product-category ul li.active ul li a{color:#000}
.product-category ul li.active ul li a:hover{color:#f3725c}

.product-category ul li a:hover{color:#f3725c}
.product-category ul li ul{display:none;margin-bottom:5px;margin-top:5px;}
.product-category ul li span.open ul{display:block}
.cat_sep{background:url("../images/cat_sep.png")no-repeat right 7px;float:right;cursor:pointer}
.cat_sep.close{background:url("../images/cat_sep_hover.png")no-repeat right 7px;float:right;cursor:pointer}
a#loadMore {  background: #fbfbfb none repeat scroll 0 0;  box-sizing: border-box;  border:1px solid #ebebeb;  color: #4c4c4c; text-transform: uppercase;  font-size: 15px;  font-weight: 300;  padding: 10px 20px;  text-align: center;font-family: 'Poppins', sans-serif;  width: auto;  margin:10px 0 20px;letter-spacing:0.050em;float:none;display:inline-block  }
a#loadMore:hover{background:#f3725c;color:#000;}
.inner-feature .gallery-load {  float: left;  width: 100%;}
.inner-feature.gallery-load ul li {  display: none;}
 .fancybox-close {display:none;}
 .fancybox-wrap {	position: absolute;	top: auto !important;	bottom:0 !important;	left: 0 ;	-webkit-transform: translate3d(0, 0, 0);	transform: translate3d(0, 0, 0);	z-index: 8030;}
.fancybox-opened {  z-index: 999999999 !important;}


/*Detail page*/
.detail-page{float:left;width:100%;margin-top:40px;}
.detail-main{float:left;width:100%}
.detail-top{float:left;width:1140px;}
.detail-top .detail-lft{float:left;width:610px;box-sizing:border-box;}
.detail-top .detail-lft .lft-img{float:left;width:78px;}
.detail-top .detail-lft .lft-img ul li{float:left;width:76x;border:1px solid #e5e5e5;margin-bottom:10px}
.detail-top .detail-lft .lft-img ul li:hover{border:1px solid #5e5e5e;}
.detail-top .detail-lft .lft-img ul li figure{display: table;table-layout: fixed;text-align: center;vertical-align: middle;width: 100%;position:relative;}
.detail-top .detail-lft .lft-img ul li figure span{display: table-cell;height: 76px;text-align: center;vertical-align: middle;width: 100%;}
.detail-top .detail-lft .lft-img ul li figure span img {display: inline-block;max-width: 100%;vertical-align: middle;transform-style: preserve-3d;
  transition: all 5s ease-in-out;height: 76px; }
.detail-top .detail-lft .rgt-img{float:right;width:532px;}
.detail-top .detail-rgt{float:right;width:530px;}
.detail-top .social-link {float: left; margin-top: 20px; width: 100%;font-size: 25px;  font-weight: 500; text-align: center;font-family: 'Poppins', sans-serif;color: #000;}
.detail-top .detail-rgt h1{float: left;width: 100%;font-size: 25px;  font-weight: 500; text-align: left;font-family: 'Poppins', sans-serif;color: #000;line-height:32px;text-transform:uppercase;}
.detail-top .detail-rgt .item-sec{float: left;width: 100%;font-size: 14px;  font-weight: 500; text-align: left;font-family: 'Poppins', sans-serif;color: #4c4c4c;line-height:18px;margin-top:15px;}
.detail-top .detail-rgt .item-sec span{font-weight:400;}
.detail-top .detail-rgt .star-review-sec{float:left; margin-top: 20px; width: 100%;}
.detail-top .detail-rgt .star-review-sec .d-star-sec{float:left; width: auto;border-right:1px solid #7f7f7f;}
.detail-top .detail-rgt .star-review-sec .d-star-sec span{float: left;font-size: 16px;  font-weight: 400; text-align: left;font-family: 'Poppins', sans-serif;color: #f3725c;line-height:18px;margin:3px 25px 0;letter-spacing:0.030em}
.detail-top .detail-rgt .star-review-sec .d-star-sec img{float:left;}
.detail-top .detail-rgt .star-review-sec .d-review-sec a{float: left;font-size: 16px;  font-weight: 400; text-align: left;font-family: 'Poppins', sans-serif;color: #f3725c;line-height:18px;margin:3px 25px 0;letter-spacing:0.030em}
.detail-top .detail-rgt .select-size{float:left;width:100%;text-align:left;margin-top:30px;}
.detail-top .detail-rgt .select-size label{float: left;font-size: 14px;  font-weight: 300; text-align: left;font-family: 'Poppins', sans-serif;color: #4c4c4c;line-height:18px;margin-right:14px;margin-top:14px;}
.detail-top .detail-rgt .select-size select{float:left;width:182px;border:1px solid #ccc;height:44px;font-size: 13px;  font-weight: 300; text-align: left;font-family: 'Poppins', sans-serif;color: #4c4c4c;line-height:24px;background:url("../images/select_arrow.jpg") no-repeat 95% 50%;-webkit-appearance: none;-moz-appearance: none;padding: 0 0 0 8px;box-sizing:border-box;}
.detail-top .detail-rgt .select-size select option{ padding-left:12px;}
@media all and (min-width:0\0) and (min-resolution:.001dpcm){ 
.detail-top .detail-rgt .select-size select {background: none; -webkit-appearance: none; -moz-appearance: none;}
.qty-price-sec .qty-lft select {background: none; -webkit-appearance: none; -moz-appearance: none;}
}
.detail-top .detail-rgt .price-sec{float:left;width:100%;margin:30px 0px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:10px 0px;box-sizing:border-box}
.detail-top .detail-rgt .price-sec .price-lft {  float: left;  margin-right: 60px;  width: auto;padding: 20px 0 10px;box-sizing:border-box}
.detail-top .detail-rgt .price-sec .price-lft .price-reg{  float: left;width:auto;font-size: 14px;  font-weight: 300; text-align: left;font-family: 'Poppins', sans-serif;color: #4c4c4c;line-height:18px;}
.detail-top .detail-rgt .price-sec .price-lft .price-sale{  float: left;width:auto;font-size: 29px;  font-weight: 300; text-align: left;font-family: 'Poppins', sans-serif;color: #f3725c;line-height:30px;margin-top:20px;clear:both}
.detail-top .detail-rgt .price-sec .price-lft .price-sale span{font-weight:500;}
.detail-top .detail-rgt .price-sec .price-rgt {  float: left;    width: auto;}
.detail-top .detail-rgt .price-sec .price-rgt .save-price{  float: left;    width:100px;height:100px;border-radius:100%;background:#059708;font-size:17px;font-weight:400;font-family: 'Poppins', sans-serif;color:#fff;line-height:20px;padding:27px 10px;box-sizing:border-box;}
.detail-top .detail-rgt .price-sec .price-rgt .save-price span{font-weight:500;font-size:21px;line-height:24px;}
.available-sec{float:left;width:100%;font-size:14px;font-weight:500;font-family: 'Poppins', sans-serif;color:#4c4c4c;line-height:18px;margin:0px 0 30px;text-align:left;}
.available-sec span{font-weight:400;}
.option-tab{float:left;width:100%}
.option-tab .option-title{float:left;width:100%;background:#e2e2e2;padding:20px 25px;box-sizing:border-box;}
.option-tab .option-title h2{float:left;width:100%;text-align:left;font-size:17px;font-weight:500;font-family: 'Poppins', sans-serif;color:#000;text-transform:uppercase;line-height:18px;letter-spacing:0.030em}
.option-tab .accordion-tab{float:left;width:100%;}
.option-tab .accordion-tab h3{float:left;width:100%;background:#ababab;color:#fff;text-align:left;letter-spacing:0.030em;font-size:14px;font-weight:400;font-family: 'Poppins', sans-serif;padding:10px 20px 10px 46px;box-sizing:border-box;}
.option-tab .accordion-tab h3.ui-state-default{background: #ababab url(../images/a_plus.png) no-repeat 19px center}
.option-tab .accordion-tab h3.ui-state-active{background:#ababab url(../images/a_minus.jpg) no-repeat 19px center}
.radio-btn-sec{float:left;width:100%;background:#fafafa;padding:15px 18px;box-sizing:border-box;}
.radio-btn-sec ul{float:left;width:100%}
.radio-btn-sec ul li{float:left;width:100%;font-size:14px;font-weight:400;font-family: 'Poppins', sans-serif;color:#4c4c4c;line-height:18px;letter-spacing:0.030em;text-align:left;margin-bottom:10px;}
.radio-btn-sec ul li input[type="radio"]{float:left;margin-right:15px;margin-top:3px;}
.radio-btn-sec ul li [type="radio"]:checked,.radio-btn-sec ul li [type="radio"]:not(:checked) {  position: absolute;   left: -9999px;}
.radio-btn-sec ul li [type="radio"]:checked + label,.radio-btn-sec ul li [type="radio"]:not(:checked) + label{ position: relative;    padding-left: 28px;    cursor:pointer;    line-height: 15px;    display: inline-block;    color: #666;}
.radio-btn-sec ul li [type="radio"]:checked + label:before,.radio-btn-sec ul li [type="radio"]:not(:checked) + label:before {    content: '';    position: absolute;    left: 0;    top: 0;    width: 15px;    height: 16px;       border-radius: 100%;    background:url(../images/radio_icon.png) no-repeat;}
.radio-btn-sec ul li [type="radio"]:checked + label:after,.radio-btn-sec ul li [type="radio"]:not(:checked) + label:after {    content: '';    width: 15px;    height: 16px;     background:url(../images/radio_hover.png) no-repeat;    position: absolute;    top: 0px;    left: 0px;    border-radius: 100%;    -webkit-transition: all 0.2s ease;    transition: all 0.2s ease;}
.radio-btn-sec ul li [type="radio"]:not(:checked) + label:after {    opacity: 0;    -webkit-transform: scale(0);    transform: scale(0);}
.radio-btn-sec ul li [type="radio"]:checked + label:after {    opacity: 1;    -webkit-transform: scale(1);    transform: scale(1);}
.ui-accordion-content{float:left;width:100%;}
.tab-bg{border:1px solid #e2e2e2;}
.text-sec{float:left;width:100%;background:#fff;padding:15px 18px;box-sizing:border-box;}
.text-sec .add-line{float:left;width:100%;margin-bottom:20px}
.text-sec .add-line label{float:left;width:auto;font-size:14px;font-weight:400;font-family: 'Poppins', sans-serif;color:#000;line-height:18px;letter-spacing:0.030em;text-align:left;margin-right:9px;margin-top: 8px;}
.text-sec .add-line span{float:left;width:auto;font-size:13px;font-weight:500;font-family: 'Poppins', sans-serif;color:#f3725c;line-height:18px;letter-spacing:0.030em;text-align:left;margin-left:15px;margin-top: 8px;}
.text-sec .add-line input[type="text"]{float:left;width:333px;height:34px;border:1px solid #ccc;font-size:14px;font-weight:400;font-family: 'Poppins', sans-serif;color:#000;line-height:18px;letter-spacing:0.030em;text-align:left;padding:0 15px;box-sizing:border-box;}
.text-sec .captcha-sec{float:left;width:100%;}
.text-sec .captcha-sec label{float:left;width:100%;font-size:13px;font-weight:500;font-family: 'Poppins', sans-serif;color:#000;line-height:18px;letter-spacing:0.030em;text-align:center;margin-bottom:13px;}
.text-sec .captcha-sec .captcha-img{float:left;width:100%;border:1px solid #747474;padding:20px;box-size:border-box;}
.text-sec .captcha-sec p{float:left;width:100%;text-align:center;font-size:14px;font-weight:400;font-family: 'Poppins', sans-serif;color:#7f7f7f;line-height:18px;letter-spacing:0.030em;margin-top:10px;}
.content-sec{float:left;width:100%;background:#fff;padding:15px 18px;box-sizing:border-box;}
.qty-price-sec{float:left;width:100%;margin:25px 0;}
.qty-price-sec .qty-lft{float:left;width:auto;margin-right:30px;}
.qty-price-sec .price-rgt{float:left;width:auto;font-size:29px;font-weight:300;font-family: 'Poppins', sans-serif;color:#f3725c;line-height:18px;letter-spacing:0.030em;text-align:left;margin-top: 13px;}
.qty-price-sec .price-rgt span{font-weight:500;}
.qty-price-sec .qty-lft select {  -moz-appearance: none;  background: rgba(0, 0, 0, 0) url("../images/select_arrow.jpg") no-repeat scroll 87% 50%;  border: 1px solid #ccc;  box-sizing: border-box;  color: #4c4c4c;  float: left;  font-family: "Poppins",sans-serif;  font-size: 13px;  font-weight: 300;  height: 47px;  line-height:24px;  padding: 0 22px 0 15px;  text-align: left;  width: 70px;-webkit-appearance: none;-moz-appearance: none;}
.qty-price-sec .qty-lft select option{padding: 0 0px 0 15px;}
.add-cart-sec{float:left;width:100%;padding-bottom:30px;}
.add-cart-sec .cart-btn{float:left;width:200px;height:59px;background:#f3725c url(../images/cart-btn.png) no-repeat 37px center;padding-left:68px;box-sizing:border-box;color:#fff;font-size:15px;font-weight:600;font-family: 'Poppins', sans-serif;text-transform:uppercase;text-align:left;line-height:20px;padding-top:5px;}
.add-cart-sec .cart-btn:hover{background-color:#000;}
.detail-tab{float:left;width:100%;padding-top:28px;border-top:1px solid #c9c9c9;}
.detail-tab .resp-tab-active {border-bottom:2px solid #f3725c; margin-bottom: 0px;    padding: 0 0px 6px !important;	border-top:none;	border-left:none;	border-right:none;}
.detail-tab .resp-tabs-list li{ padding: 0 0px 6px !important;font-size:16px;font-weight:500;font-family: 'Poppins', sans-serif;color:#000;line-height:18px;margin:0 27px;}
.detail-tab .resp-tabs-list li:first-child{margin-left:0;}
.detail-tab .resp-tab-content { border:none;}
.detail-tab .resp-tab-content { padding: 25px 0;}
.detail-tab .resp-tab-content p{ float:left;width:100%;font-size:14px;font-weight:400;font-family: 'Open Sans', sans-serif;color:#4c4c4c;text-align:left;line-height:24px;}
.detail-side{float:right;width:215px;margin-left:45px;border:1px solid #e5e5e5;}
.detail-side .side-title{float:left;width:100%;text-align:center;background:#ababab;font-size:17px;font-weight:500;font-family: 'Poppins', sans-serif;color:#fff;line-height:24px;padding:10px;box-sizing:border-box;text-transform:uppercase;}
.detail-side .inner-feature { box-sizing: border-box; padding: 0;}
.detail-side .feature-div figure a {  height: 120px;}
.detail-side .inner-feature ul li { width: 212px;margin-right:0;padding:0 25px 15px 25px ;box-sizing:border-box;border-bottom:1px solid #e5e5e5}
.detail-side .inner-feature ul li:last-child{border:none}
.detail-side .inner-feature .feature-div h2 a { font-size: 13px;padding:10px 0;}
.detail-side .inner-feature .feature-div .reg-price { font-size: 12px;}
.detail-side .inner-feature .feature-div .sale-price{ font-size: 16px;}
.related-sec{float:left;width:100%;margin-top:50px}
.inner-related{float:left;width:100%}
.related-sec .related-title{float:left;width:100%;}
.related-sec .related-title span{float:left;margin-right:11px;}
.related-sec .related-title h2{float:left;width:96.5%;border-bottom:1px solid #ededed;box-sizing:border-box;font-size:21px;font-weight:500;font-family: 'Poppins', sans-serif;color:#000;line-height:40px;text-transform:uppercase;text-align:left;}
.related-sec .inner-feature {  padding: 0; }
.cut-review-sec{float:left;width:100%;margin:70px 0 45px;}
.inner-review-sec{float:left;width:100%;border:1px solid #cccccc;}
.cut-review-sec .review-title{float:left;width:100%;background:#f1f1f1;border-bottom:1px solid #cccccc;padding:15px 25px;box-sizing:border-box;}
.cut-review-sec .review-title h4{float:left;width:100%;font-size:21px;font-weight:500;font-family: 'Poppins', sans-serif;color:#000;text-align:left;line-height:25px;text-transform:uppercase}
.review-top { border-bottom: 1px solid #ccc;  box-sizing: border-box;  float: left;  padding: 20px;  width: 100%;}
.review-top h5{float:left;width:auto;font-size:18px;font-weight:700;font-family: 'Open Sans', sans-serif;color:#000;text-align:left;line-height:24px;margin-right:13px}
.review-top span{float:left;width:100%;font-size:14px;font-weight:400;font-family: 'Open Sans', sans-serif;color:#000;text-align:left;line-height:24px;}
.overall-sec { float: left; text-align: left; width: 334px;}
.quality-sec { float: left; text-align: left; width: 286px;}
.fit-sec { float: left; text-align: left; width: 282px;}
.like-sec { float: left; text-align: left; width: 286px;}
.review-btn { float: left; text-align: left; width: 168px;}
.review-btn a{ float: left; text-align: center; width: 168px;height:37px;padding:10px;box-sizing:border-box;background:#f3725c;color:#fff;font-size:15px;font-weight:600;font-family: 'Open Sans', sans-serif;letter-spacing:0.030em;line-height:18px;text-transform:uppercase}
.review-btn a:hover{background:#000}
.review-bottom { box-sizing: border-box; float: left; padding: 20px; width: 100%;}
.review-lft {  float: left; text-align: left; width: 196px;}
.review-rgt {float: left; width: 85%; text-align: left;}
.review-lft .cut-name{float:left;width:auto;font-size:13px;font-weight:700;font-family: 'Open Sans', sans-serif;color:#000;text-align:left;line-height:20px;}
.review-lft .date-sec{float:left;width:auto;font-size:13px;font-weight:400;font-family: 'Open Sans', sans-serif;color:#000;text-align:left;line-height:20px;}
.review-rgt .rgt-title{float:left;width:100%;font-size:13px;font-weight:700;font-family: 'Open Sans', sans-serif;color:#000;text-align:left;line-height:20px;margin-bottom:15px;}
.review-rgt p{float:left;width:100%;font-size:14px;font-weight:400;font-family: 'Open Sans', sans-serif;color:#4c4c4c;text-align:left;line-height:24px;margin-bottom:15px;}
.review-rgt .city-name{float:left;width:100%;font-size:14px;font-weight:700;font-family: 'Open Sans', sans-serif;color:#000;text-align:left;line-height:20px;}
.lft-img .bx-wrapper .bx-viewport {  background: #fff none repeat scroll 0 0;  border: none;  box-shadow:none; left: 0px; transform: translateZ(0px);}
.lft-img .bx-wrapper .bx-prev { background: rgba(0, 0, 0, 0) url("../images/up-thumb-aro.png") no-repeat scroll center center; left: 1px; margin: 0; top: -45px;}
.lft-img .bx-wrapper .bx-next { background: rgba(0, 0, 0, 0) url("../images/down-thumb-aro.png") no-repeat scroll center center; bottom: -45px; left: 1px;
 margin: 0;top: auto;}
 
 
 /*detail 02*/
.detail-other{float:left;width:100%;margin-bottom:60px;}
.detail-other .detail-top {width: 100%;}
.detail-other  .detail-top .detail-rgt { width: 718px;}
.detail-other  .qty-price-sec {  width: auto;}
.detail-other  .add-cart-sec { padding-bottom:25px;width:auto}
.detail-other .qty-price-sec {margin: 10px 0;}
.detail-other .detail-top .detail-rgt .price-sec .price-lft { margin-right: 100px;}
  
  .inner-client .owl-carousel .owl-item img {
 width:auto;display: inline-block;
}


.related-sec .owl-prev {
  background: rgba(0, 0, 0, 0) url("../images/f_prev.png") no-repeat scroll center center;
  float: left;
  font-size: 0;
  height: 35px;
  left: 0px;
  margin-top: -17px;
  position: absolute;
  top: 50%;
  width: 35px;
}
.related-sec .owl-next {
  background: rgba(0, 0, 0, 0) url("../images/f_next.png") no-repeat scroll center center;
  float: left;
  font-size: 0;
  height: 35px;
  margin-top: -17px;
  position: absolute;
  right: 0px;
  top: 50%;
  width: 35px;
}

.feature-sec .owl-prev {
  background: rgba(0, 0, 0, 0) url("../images/f_prev.png") no-repeat scroll center center;
  float: left;
  font-size: 0;
  height: 35px;
  left: -49px;
  margin-top: -17px;
  position: absolute;
  top: 50%;
  width: 35px;
}
.feature-sec .owl-next {
  background: rgba(0, 0, 0, 0) url("../images/f_next.png") no-repeat scroll center center;
  float: left;
  font-size: 0;
  height: 35px;
  margin-top: -17px;
  position: absolute;
  right: -49px;
  top: 50%;
  width: 35px;
}


.mobile-detail-slider{display:none;}
.detail-side .owl-carousel {
  display: block;
  
}
.detail-side .owl-carousel .owl-item img{width:auto;display:inline-block; max-width:100%}
.option-tab .ui-icon,.option-tab .ui-widget-content .ui-icon {
  background-image: none;
}
.option-tab .ui-icon {
  display:none;
}
.option-tab .ui-accordion .ui-accordion-header {

  margin: 0px 0 0;
 
}

.option-tab  .ui-state-active,.option-tab  .ui-widget-content .ui-state-active,.option-tab  .ui-widget-header .ui-state-active,.option-tab  a.ui-button:active,.option-tab  .ui-button:active,.option-tab  .ui-button.ui-state-active:hover {
 border:none;
}
.option-tab .content-sec p {
  color: #4c4c4c;
  float: left;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  width: 100%;
}


.inner-top-footer li.bloglink a{
  color: #fff;
 
  font-weight: 600;
  
}

.menu-sec .desktop-sec ul li ul.in-sub {padding-left: 30px; position: relative; margin-bottom: 10px;}
.menu-sec .desktop-sec ul li ul .menu-lft .main-sub li .in-sub a {color: #999999 !important;}
.menu-sec .desktop-sec ul li ul .menu-lft .main-sub li .in-sub a:hover {color: #f3725c !important;}
.menu-sub h4 {float: left; width: 100%; min-height: 40px; color: #5e5e5e; font-family: "Poppins",sans-serif; font-size: 15px;  font-weight: 500;  line-height: 20px; text-transform: uppercase; text-align: left;}





/**/

.deals-page h1 {
  float: left;
  font-family: "Poppins",sans-serif;
  font-size: 29px;
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 30px;
  margin-bottom: 25px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.deals-sec{float:left;width:100%;background:url("../images/deals-bg.png")no-repeat top center;margin-bottom:35px;}
.deals-lft{float:left;width:585px;padding:4px 0;background:url("../images/deals-sep.png")no-repeat right center;}
.deals-rgt{float:left;width:803px;padding:30px;box-sizing:border-box;}

.counter-row{float:left;width:82px;}
.counter-row .counter-top{float:left;width:100%;}
.offer-title {
  color: #fff;
  display: inline-block;
  float: none;
  font-family: "Poppins",sans-serif;
  font-size: 29px;
  font-weight: 300;
  line-height: 30px;
  margin-right: 40px;
  margin-top: 14px;
  text-transform: uppercase;
  vertical-align: top;
  width: auto;
}
.offer-rgt {
  display: inline-block;
  float: none;
  width: auto;
}
.counter-value{float:left;width:41px;height:46px;font-family: "open sans",sans-serif; font-size: 33px;  font-weight: 700;color:#fff;background:#222426;border:1px solid #776c6e;padding:5px;box-sizing:border-box;}
.counter-row .counter-label{float:left;width:100%;font-size:14px;font-family: "Poppins",sans-serif;text-transform:uppercase;text-align:center;font-weight:400;color:#fff;font-weight:600;margin-top:5px;}
.counter-img {
  box-sizing: border-box;
  float: left;
  padding: 0 5px;
}
.showday{float:left;width:18px;}
.deals-page .lising-sec .inner-feature ul li:nth-child(4n) {margin-right: 15px;}
.deals-page .lising-sec .inner-feature ul li:nth-child(5n) {margin-right: 0px;}


.detail-deals{float:left;width:100%;border-bottom:1px solid #bfbfbf;margin-bottom:25px}
.detail-deals .deals-rgt {
 
  width: 100%;
}
.detail-deals .offer-title {
  color: #000;margin-top: 8px;

  margin-right: 20px;

}
.detail-deals  .counter-row .counter-label {
  color: #000;font-size: 12px;
 
}
.detail-deals  .counter-value {

  font-size: 31px;padding:5px 0;

  height: 42px;

  width: 34px;
}
.detail-deals  .counter-row {
  float: left;
  width: 70px;
}
.detail-deals .showday {
  float: left;
  width: 12px;
}
.detail-deals  .deals-rgt {
 
  padding:0px 0 15px;
  
}
.detail-deals .counter-img > img {
  height: 34px;
}